:root {
    --branco-principal: #fff;
    --cinza-secundário: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul--efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

/* reset de margin e padding */

* {
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__principal {
    background-image: url("../assets/imgs/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__principal {
    height: 100vh;
    display: grid;
    /* Grid-template-columns serve para definir em quantas colunas você quer dividir a sua página(porcentagem)  */
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundário);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 1em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;

}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    /* Justify content é um text-align mas para quando se está aplicando o display flex  */
    /* Voce tambem pode usar o display flex para mudar a direcao do seus items com display flex e flex direction */
    /* List-stye-type define qual o tipo de estilo que voce estara colocando na sua lista. ex=> none. */
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 40px;
    color: var(--branco-principal);

}

.lista__item {
    font-size: 32px;
}

.rodape__logo {
    position: relative;
    left: 50%;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
    transition: 0.5s;
}

.rodape__texto {
    text-align: center;
    font-size: 14px;
    margin: 1em 0;
    color: var(--cinza-secundário);
}

.lista__link a:hover {
    color: var(--botao-azul);
    transition: 0.5s;
    
}

.container__botao:hover {
    background-color: var(--botao-azul--efeito);
    color: var(--cor-de-fundo);
    transition: 0.5s;
}